<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sidebar">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>
          <p>
            대통령의 임기연장 또는 중임변경을 위한 헌법개정은 그 헌법개정 제안
            당시의 대통령에 대하여는 효력이 없다. 지방자치단체는 주민의 복리에
            관한 사무를 처리하고 재산을 관리하며, 법령의 범위안에서 자치에 관한
            규정을 제정할 수 있다. 대통령은 국무총리·국무위원·행정각부의 장 기타
            법률이 정하는 공사의 직을 겸할 수 없다.
          </p>

          <p>
            헌법재판소는 법률에 저촉되지 아니하는 범위안에서 심판에 관한 절차,
            내부규율과 사무처리에 관한 규칙을 제정할 수 있다. 국가는 농·어민과
            중소기업의 자조조직을 육성하여야 하며, 그 자율적 활동과 발전을
            보장한다. 명령·규칙 또는 처분이 헌법이나 법률에 위반되는 여부가
            재판의 전제가 된 경우에는 대법원은 이를 최종적으로 심사할 권한을
            가진다.
          </p>
        </h2>
      </div>
      <div id="footer">
        <h2>
          <ul>
            <li>
              형사피의자 또는 형사피고인으로서 구금되었던 자가 법률이 정하는
              불기소처분을 받거나 무죄판결을 받은 때에는 법률이 정하는 바에
              의하여 국가에 정당한 보상을 청구할 수 있다.
            </li>
          </ul>
        </h2>
      </div>
    </div>
  </body>
</html>
