<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: absolute;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <!-- 
      position : absolute;

      위치 상 부모요소를 기준으로 배치
      부모요소 : position 값이 부여된 다른 요소
                 position 값이 부여된 다른 요소가 없다면 화면이 기준임
      
     -->
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, facere?
      Eveniet modi odit praesentium minus atque error rerum est amet quaerat
      tempora! Laudantium aliquam voluptatem et dolores omnis, ex, ducimus autem
      at veritatis neque nulla sequi eum dolorum eveniet ratione corrupti a, sit
      cum placeat! Delectus qui numquam assumenda! Vitae dignissimos dolores
      iste aliquam. Architecto saepe nemo quod ad? Nesciunt, facere. Repellendus
      perspiciatis nulla odit, ab totam voluptatem modi aspernatur consectetur
      quisquam aliquam! Dicta fuga minima quis error! Quas labore odit sit
      aliquam vel ullam, nam, sapiente eveniet harum repellendus, adipisci hic
      accusamus corrupti ut recusandae aliquid. Excepturi at cumque, tempore
      dolore ratione soluta molestiae ipsam reprehenderit quisquam et
      perspiciatis alias velit placeat assumenda corrupti consectetur nulla
      facilis? Ipsa ea est voluptas a beatae, pariatur possimus aliquid hic
      libero quam dicta reprehenderit rerum rem odit voluptatum, aut, molestias
      magni cupiditate quasi exercitationem? Quae optio, quas enim commodi
      adipisci aspernatur ut molestiae ipsam corporis ea esse ducimus
      repudiandae recusandae aliquam officiis? Iure modi nam similique!
      Repellat, est? Laudantium sed optio blanditiis excepturi fuga, quaerat
      ipsam accusantium perspiciatis reiciendis autem itaque illum aliquam?
      Labore animi praesentium ea harum ipsam vitae nulla obcaecati tenetur
      minus accusamus vel in, explicabo illum provident voluptatem accusantium
      expedita odio! Aspernatur officiis doloremque pariatur voluptatibus
      sapiente laudantium adipisci suscipit cupiditate iste dolores deserunt,
      voluptatem autem, ipsa, culpa quo sequi omnis delectus assumenda accusamus
      libero quia? Delectus officia nemo laboriosam obcaecati dolor, vero, quasi
      rerum illum, at ab fuga inventore ad magnam quis aliquid totam unde natus!
      Nulla velit eius obcaecati similique hic doloribus placeat corporis nemo
      consequuntur quaerat illo distinctio nihil quod quisquam odio laudantium
      repudiandae accusantium et, eaque perferendis eveniet, vero molestiae,
      consectetur labore. Voluptatum deserunt minima nulla fugit delectus aut
      error repellat, cupiditate, voluptas temporibus fuga sapiente quasi sit
      qui ab. Itaque unde explicabo nulla quod dolor vitae expedita magni iure,
      voluptatum similique debitis? Omnis deserunt nesciunt velit, excepturi,
      soluta quaerat ad repellat delectus eos tempore numquam nostrum
      praesentium non sit accusantium corrupti eveniet iusto aut minima ullam.
      Ut, esse voluptatum. Nulla, tenetur! Dolorem cumque repellat hic ipsam in
      vero eos officia! Unde, iusto eveniet! Maiores dolorum temporibus eaque
      harum quasi assumenda tempora et quod in aliquam asperiores error
      voluptates laudantium soluta illo reiciendis reprehenderit, molestias
      nulla nostrum quibusdam voluptas facere delectus voluptatum. Nemo id
      nihil, laudantium cum necessitatibus laborum eaque, nam dolores fugiat,
      architecto mollitia sed. Odit reprehenderit itaque, tempora placeat
      veritatis tenetur molestiae totam quaerat beatae a? Eum adipisci sed
      maiores, architecto saepe ut dolorem ipsa aliquam facilis minima excepturi
      quo at commodi aut? Mollitia adipisci veniam molestias at consequatur
      inventore officia tempora placeat facere minus iste perferendis pariatur
      ducimus, ea aut, illo aliquid ullam non quidem amet? Nulla earum
      necessitatibus perferendis quos adipisci? Magni molestiae quia nam itaque
      delectus necessitatibus laboriosam, maiores eius. Incidunt explicabo,
      minima inventore ipsum numquam ex ipsa quisquam voluptatem iste!
      Exercitationem ex dignissimos laudantium nihil ducimus, sequi eaque.
      Blanditiis animi amet nisi veniam provident numquam perferendis dolorem
      facilis! Iusto, itaque! Vero ipsa accusantium, aperiam beatae provident
      amet deserunt quaerat.
    </p>
  </body>
</html>
